.call-to-action {
  .oak-button {
    padding: 0 34px;
    border-radius: 50px;
    @media (max-width: 767px) {
      padding: 0 26px;
    }
    .button-label-container {
      height: 60px;
      font-size: 16px;
      column-gap: 20px;
      text-transform: uppercase;
      @media (max-width: 767px) {
        height: 40px;
        font-size: 14px;
        column-gap: 15px;
      }

      i {
        display: none;
      }
    }
  }
}
