.speciality-section {
  padding-top: 160px;
  padding-bottom: 160px;
  display: grid;

  @media (max-width: 767px) {
    grid-auto-flow: row;
    row-gap: 60px;
  }
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    align-items: center;
  }
  p {
    line-height: 40px;
  }
  .speciality-section--heading {
    font-weight: 600;
  }
  .speciality-section--content {
    display: grid;
    justify-content: center;
    // margin-bottom: 100px;
    grid-auto-flow: row;
    row-gap: 40px;
    align-items: center;
  }
}

.speciality-sectiontile {
  display: grid;
  grid-auto-flow: row;
  align-content: flex-start;
  row-gap: 10px;

  img {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100px;
  }
}
