.copyright-section {
  display: grid;
  align-items: center;
  justify-content: flex-end;
  grid-auto-flow: column;
  column-gap: 5px;
  font-size: 14px;
  padding: 10px;
  column-gap: 10px;
  @media (max-width: 767px) {
    // padding: 5px;
    font-size: 10px;
  }
  span {
    color: grey;
  }
  a {
    text-decoration: none;
    color: var(--color-foreground-2);
    &:hover {
      text-decoration: underline;
    }
  }
}
