.header-section {
  display: flex;
  justify-content: flex-start;
  @media (max-width: 767px) {
    justify-content: center;
  }
  // padding: 40px 50px;
  padding: 1em 0;
  img {
    height: 24px;
  }
}
